USE [master]
GO

CREATE DATABASE [FootballDB]
GO
USE [FootballDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FootballDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FootballDB]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 12.05.2026 01:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[MatchDate] [date] NULL,
	[HomeTeamID] [int] NULL,
	[AwayTeamID] [int] NULL,
	[HomeScore] [int] NULL,
	[AwayScore] [int] NULL,
	[TournamentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 12.05.2026 01:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[JerseyNumber] [int] NULL,
	[Age] [int] NULL,
	[TeamID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerStatistics]    Script Date: 12.05.2026 01:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerStatistics](
	[StatID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [int] NULL,
	[MatchID] [int] NULL,
	[Goals] [int] NULL,
	[Assists] [int] NULL,
	[YellowCards] [int] NULL,
	[RedCards] [int] NULL,
	[MinutesPlayed] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Standings]    Script Date: 12.05.2026 01:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Standings](
	[StandingID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NULL,
	[Played] [int] NULL,
	[Wins] [int] NULL,
	[Draws] [int] NULL,
	[Losses] [int] NULL,
	[GoalsFor] [int] NULL,
	[GoalsAgainst] [int] NULL,
	[Points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StandingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 12.05.2026 01:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[FoundedYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 12.05.2026 01:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[TournamentID] [int] IDENTITY(1,1) NOT NULL,
	[TournamentName] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NULL,
	[Stadium] [nvarchar](100) NULL,
	[Season] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Match] ON 

INSERT [dbo].[Match] ([MatchID], [MatchDate], [HomeTeamID], [AwayTeamID], [HomeScore], [AwayScore], [TournamentID]) VALUES (1, CAST(N'2026-05-01' AS Date), 2, 9, 3, 1, 1)
INSERT [dbo].[Match] ([MatchID], [MatchDate], [HomeTeamID], [AwayTeamID], [HomeScore], [AwayScore], [TournamentID]) VALUES (2, CAST(N'2026-05-01' AS Date), 3, 8, 2, 1, 1)
INSERT [dbo].[Match] ([MatchID], [MatchDate], [HomeTeamID], [AwayTeamID], [HomeScore], [AwayScore], [TournamentID]) VALUES (3, CAST(N'2026-05-01' AS Date), 4, 7, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Match] OFF
GO
SET IDENTITY_INSERT [dbo].[Player] ON 

INSERT [dbo].[Player] ([PlayerID], [FirstName], [LastName], [Position], [JerseyNumber], [Age], [TeamID]) VALUES (1, N'Cansu', N'AKÇAY', N'Forward', 9, 22, 1)
INSERT [dbo].[Player] ([PlayerID], [FirstName], [LastName], [Position], [JerseyNumber], [Age], [TeamID]) VALUES (2, N'Sudenaz', N'Vardar', N'Defender', 2, 24, 1)
INSERT [dbo].[Player] ([PlayerID], [FirstName], [LastName], [Position], [JerseyNumber], [Age], [TeamID]) VALUES (3, N'Gökhan', N'Demirok', N'Goalkeeper', 99, 22, 1)
SET IDENTITY_INSERT [dbo].[Player] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayerStatistics] ON 

INSERT [dbo].[PlayerStatistics] ([StatID], [PlayerID], [MatchID], [Goals], [Assists], [YellowCards], [RedCards], [MinutesPlayed]) VALUES (3, 1, 1, 1, 0, 0, 0, 90)
INSERT [dbo].[PlayerStatistics] ([StatID], [PlayerID], [MatchID], [Goals], [Assists], [YellowCards], [RedCards], [MinutesPlayed]) VALUES (4, 1, 5, 1, 1, 0, 0, 87)
INSERT [dbo].[PlayerStatistics] ([StatID], [PlayerID], [MatchID], [Goals], [Assists], [YellowCards], [RedCards], [MinutesPlayed]) VALUES (5, 1, 9, 2, 0, 1, 0, 90)
SET IDENTITY_INSERT [dbo].[PlayerStatistics] OFF
GO
SET IDENTITY_INSERT [dbo].[Standings] ON 

INSERT [dbo].[Standings] ([StandingID], [TeamID], [Played], [Wins], [Draws], [Losses], [GoalsFor], [GoalsAgainst], [Points]) VALUES (13, 4, 8, 2, 0, 6, 6, 13, 6)
INSERT [dbo].[Standings] ([StandingID], [TeamID], [Played], [Wins], [Draws], [Losses], [GoalsFor], [GoalsAgainst], [Points]) VALUES (14, 8, 8, 4, 1, 3, 11, 9, 13)
INSERT [dbo].[Standings] ([StandingID], [TeamID], [Played], [Wins], [Draws], [Losses], [GoalsFor], [GoalsAgainst], [Points]) VALUES (15, 2, 9, 4, 3, 2, 16, 12, 15)
SET IDENTITY_INSERT [dbo].[Standings] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([TeamID], [TeamName], [FoundedYear]) VALUES (1, N'Rubik FC', 2023)
INSERT [dbo].[Team] ([TeamID], [TeamName], [FoundedYear]) VALUES (2, N'Blue Lock FC', 2024)
INSERT [dbo].[Team] ([TeamID], [TeamName], [FoundedYear]) VALUES (3, N'Manchine City', 2025)
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[Tournament] ON 

INSERT [dbo].[Tournament] ([TournamentID], [TournamentName], [City], [Stadium], [Season]) VALUES (1, N'Ankara Amateur Cup', N'Ankara', N'Kurtulus Hali Saha', N'2026')
SET IDENTITY_INSERT [dbo].[Tournament] OFF
GO
/****** Object:  Index [UQ__Standing__123AE7B80DCC24CE]    Script Date: 12.05.2026 01:43:17 ******/
ALTER TABLE [dbo].[Standings] ADD UNIQUE NONCLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Team__4E21CAAC83496027]    Script Date: 12.05.2026 01:43:17 ******/
ALTER TABLE [dbo].[Team] ADD UNIQUE NONCLUSTERED 
(
	[TeamName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Match] ADD  DEFAULT ((0)) FOR [HomeScore]
GO
ALTER TABLE [dbo].[Match] ADD  DEFAULT ((0)) FOR [AwayScore]
GO
ALTER TABLE [dbo].[PlayerStatistics] ADD  DEFAULT ((0)) FOR [Goals]
GO
ALTER TABLE [dbo].[PlayerStatistics] ADD  DEFAULT ((0)) FOR [Assists]
GO
ALTER TABLE [dbo].[PlayerStatistics] ADD  DEFAULT ((0)) FOR [YellowCards]
GO
ALTER TABLE [dbo].[PlayerStatistics] ADD  DEFAULT ((0)) FOR [RedCards]
GO
ALTER TABLE [dbo].[Standings] ADD  DEFAULT ((0)) FOR [Played]
GO
ALTER TABLE [dbo].[Standings] ADD  DEFAULT ((0)) FOR [Wins]
GO
ALTER TABLE [dbo].[Standings] ADD  DEFAULT ((0)) FOR [Draws]
GO
ALTER TABLE [dbo].[Standings] ADD  DEFAULT ((0)) FOR [Losses]
GO
ALTER TABLE [dbo].[Standings] ADD  DEFAULT ((0)) FOR [GoalsFor]
GO
ALTER TABLE [dbo].[Standings] ADD  DEFAULT ((0)) FOR [GoalsAgainst]
GO
ALTER TABLE [dbo].[Standings] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[Tournament] ADD  DEFAULT ('Ankara') FOR [City]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([AwayTeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([HomeTeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD FOREIGN KEY([TournamentID])
REFERENCES [dbo].[Tournament] ([TournamentID])
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[PlayerStatistics]  WITH CHECK ADD FOREIGN KEY([MatchID])
REFERENCES [dbo].[Match] ([MatchID])
GO
ALTER TABLE [dbo].[PlayerStatistics]  WITH CHECK ADD FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Player] ([PlayerID])
GO
ALTER TABLE [dbo].[Standings]  WITH CHECK ADD FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD CHECK  (([Age]>(15)))
GO
USE [master]
GO
